<h1>Esto es Login</h1>


<div class = "container"></div>

    <form action="/api/sessions/login" method="POST">

        <div class="mb-3">
            <label for="email" class="form-label"> Email </label>
            <input type="text" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label"> Contraseña </label>
            <input type="text" name="password" class="form-control" required>
        </div>

        <button type="submit"> Iniciar sesion </button>
    </form>

</div>