<h1>Esto es profile</h1>


<h3>Nombre: {{user.first_name}}</h3>
<h3>Apellido: {{user.last_name}}</h3>
<h6>Edad: {{user.age}}</h6>
<h6>Email: {{user.email}}</h6>

<form action="/api/sessions/logout" method="POST">
    <button type="submit"> Cerrar Sesión </button>
</form>
