<h1> Real Time Products </h1>

<div id="products-container"> </div>

{{!-- {{#each products}}

<div>
    <p>{{this.title}}</p>
    <p>{{this.price}}</p>

</div>

{{/each}} --}}



<div class="form container">


    <h2> Esto es un formulario </h2>



    <form class="add-products-form" method="post">
        <div class="mb-3">
            <label for="product-input" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="product-input">
        </div>

        <div class="mb-3">
            <label for="product-description" class="form-label">Descripción o Marca</label>
            <input type="text" class="form-control" id="product-description">
        </div>

        <div class="mb-3">
            <label for="product-price" class="form-label">Precio</label>
            <input type="text" class="form-control" id="product-price">
        </div>

        <div class="mb-3">
            <label for="product-code" class="form-label">Código de referencia</label>
            <input type="text" class="form-control" id="product-code">
        </div>

        <div class="mb-3">
            <label for="product-stock" class="form-label">Stock Inicial</label>
            <input type="text" class="form-control" id="product-stock">
        </div>

        <div class="mb-3">
            <label for="img-file" class="form-label">Imagen del producto</label>
            <input class="form-control" type="file" id="img-file">
        </div>

        <select class="form-select">
            <option selected> Seleccione una categoría </option>
            <option value="alimentos">Alimentos</option>
           
        </select>

        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>


</div>


{{!-- 18.35 me quedee --}}




<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="/js/main.js"></script>