<h1>Esto es register</h1>

<div class = "container">

    <form action="/api/sessions/register" method="POST">

        <div class="mb-3">
            <label for="first_name" class="form-label"> Nombre </label>
            <input type="text" name="first_name" class="form-control" required>
        </div>
        <div class = "mb-3">
            <label for="last_name" class="form-label"> Apellido </label>
            <input type="text" name="last_name" class="form-control" required>
        </div>

        <div class = "mb-3">
            <label for="age" class="form-label" > Edad </label>
            <input type="number" name="age" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label"> Email </label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label"> Contraseña </label>
            <input type="text" name="password" class="form-control" required>
        </div>

        <button type="submit"> Registrarse </button>
    </form>

</div>